
  
@media (max-width: 992px) {
    .accordion .accordion-item {
        display: block;
        width: 100%; 
    }
}

.accordion .nav-link:hover, .accordion .nav-link:focus {
    font-style:normal;
    text-decoration: none;
}

.accordion-header {
    font-style: italic;
}

.accordion .nav-link {
    font-style: italic;
    padding-left: 1.5em;
}

.accordion .accordion-item {
    display: inline-block;
    vertical-align: top; 
    margin-right: 10px;
}

.accordion-button {
    border: none;
    background: none;
    color: white;
    box-shadow: none;
}
.accordion-item {
    border:none;
}

.accordion-button.collapsed {
    background: none;
    color: white;
}

.accordion-button:not(.collapsed) {
    background: #28a745;
    color: white;
}

.accordion-button {
    font-weight: 700;
    display: block;
}

.accordion .list-group-item {
    border: none;

}

.navbar-brand {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

